<% include ./partials/header %>
  <div class="ui two column centered grid">
    <div class="column">
      <h2 class="ui header">Register</h2>

      <form class="ui form" action="/register" method="POST">
        <div class="field">
          <label>User Name</label>
          <input type="text" name="username" placeholder="UserName" required>
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password" placeholder="Password" required>
        </div>
        <button class="ui button" type="submit">Submit</button>
      </form>
    </div>
  </div>